body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    font-size: 20px;
}


.container {
    margin:50px auto;
    width: 300px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.display-screen{
    margin: auto;
    /* height: 100px; */
}
h1 {
    text-align: center;
}

input[type="button"] {
    /* background-color: #a8dfaa; */
    background-color: #dadeda;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 10px;
    font-size: 25px;
    width: 20%;
    /* margin: auto; */
    margin-bottom: 5px;
    margin: 2.5px 2.5px;
    border-radius: 5px;
}

input[type="text"] {
    display: block;
    background-color: white;
    border: none;
    outline: none;
    padding: 20px 10px;
    font-size: 25px;
    width: 78%;
    text-align: right;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

input[class="number-zero"] {
    width: 42%;

}
input[class="operator"] {
    background-color: #4CAF50;
    color: white;
}